<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="logImpl" value="LOG4J" />
    </settings>
	
	<typeAliases>
		<typeAlias alias="menuModel" type="com.gr.blog.mean.model.MeanModel" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/UserModelMapper.xml" />
		<mapper resource="mapper/MeanModelMapper.xml" />
		<mapper resource="mapper/JiraMapper.xml" />
	</mappers>
</configuration>  